<tr>
    <td colspan="6">Задачи подзадачи:</td>
</tr>
{% for subtask in tasks %}
    <tr>
        <td>{{ subtask.id }}</td>
        <td>&nbsp;&nbsp;{{ subtask.title }}</td>
        <td>{{ subtask.executor.firstname }} {{ subtask.executor.surname }}</td>
        <td>{{ subtask.period|date:"Y-m-d H:i:s" }}</td>
        <td> </td>
        <td>{{ subtask.status }}</td>
        <td>
            <a href="{% url 'task-update' subtask.id %}">Редактировать</a>
            <form method="POST" action="{% url 'task-delete' subtask.id %}" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Удалить" onclick="return confirm('Вы уверены, что хотите удалить эту задачу?');">
            </form>
        </td>
    </tr>

    {% if subtask.subcategories.all %}
        {% include 'task/task_tree.html' with tasks=subtask.subcategories.all %}
    {% endif %}

    <tr>
    <td colspan="6">-----------------------------------------------------------------------------------------------</td>
{% endfor %}